.auto-container {
  position: static;
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
  width: 1200px;
}
@media screen and (max-width: 767px) {
  .sidebar-page-container .auto-container .row {
    display: flex;
    flex-direction: column;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
@media only screen and (max-width: 1140px) {
  .content-side {
    padding-right: 15px !important;
  }
}
col-xs-12 {
  width: 100%;
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.services-section.style-three {
  background: #fff !important;
  background-image: none !important;
}
services-section {
  position: relative;
}
.default-service-block {
  position: relative;
}
@media only screen and (max-width: 767px) {
  .default-service-block .inner-box {
    padding-left: 25px;
    text-align: center;
  }
}
.default-service-block .inner-box {
  color: #fff;
  padding: 15px 10px 30px 10px;
  position: relative;
  transition: all 0.5s ease 0s;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.default-service-block .inner-box .icon-box {
  position: absolute;
  left: 10px;
  top: 25px;
  width: 100px;
  line-height: 50px;
  font-size: 42px;
  color: #fff;
  text-align: center;
}
.read-more-btn {
  padding: 5px 16px;
  color: #fff;
  background-color: #503c3c;
  border-radius: 2px;
  margin: 2px auto;
  display: block;
  width: 120px;
  font-size: 16px;
}
.read-more-btn:hover {
  background-color: #000;
}
.modal-backdrop.show {
  opacity: 0 !important;
}

.modal {
  background: transparent;
}
