.hero-wrap {
  width: 100%;
  height: 850px;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  z-index: 0;
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
section {
  display: block;
}
.no-gutters > .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.intro.color-1 {
  background: linear-gradient(135deg, #503c3c, #a87c7c);
}
@media (min-width: 768px) {
  .ftco-intro .intro {
    margin-top: -70px;
  }
}
.ftco-intro .intro {
  z-index: 0;
  position: relative;
}
.intro {
  width: 100%;

  padding: 30px;
}
.ftco-intro .intro.aside-stretch {
  background: linear-gradient(135deg, #3e3232, #a87c7c);
}
@media (min-width: 768px) {
  .ftco-intro .intro {
    margin-top: -70px;
  }
}
.ftco-intro .intro {
  z-index: 0;
  position: relative;
}
.intro .icon {
  margin-right: 20px;
}
.intro .icon span {
  font-size: 30px;
  color: #fff;
}
.intro .text {
  color: #141619;
}
.intro .text h2 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}
.ftco-intro .intro.aside-stretch::after {
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  content: "";
  width: 360%;
  background: #3a2727;
  z-index: 99;
}
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* services */
.services{
  padding-top: 6em;
  padding-bottom: 6em;
  margin-bottom: 100px;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 768px) {
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.services-2 {
  width: 100%;
  display: block;
  padding: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.services-2 .icon-wrap {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 0 auto;
    margin-bottom: 0px;
  margin-bottom: 10px;
  z-index: 0;
}
.services-2:hover .icon-wrap .number {
  background: #fff;
  box-shadow: 0px 4px 15px -6px rgba(0, 0, 0, 0.15);
}
.services-2 .icon-wrap .number {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  background: #503c3c;
  border: 5px solid #fff;
}
.services-2 .icon-wrap .number span {
  font-weight: 500;
  color: #fff;
}
.services-2:hover .icon-wrap .number span {
  color: #503c3c;
}
.services-2 .icon {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #f5f4f0;
  margin: 0 auto;
    margin-bottom: 0px;
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.calendar::before {
  content: "\f100";
}
.services-2 .icon::after {
  position: absolute;
  top: 50%;
  right: 40px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #503c3c;
  content: '';
  z-index: -1;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.services-2:hover .icon::after {
  background: #fff;
  right: 50px;
}
.services-2:hover .icon {
  background: #503c3c;
  -webkit-box-shadow: 0px 4px 15px -6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 15px -6px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 15px -6px rgba(0, 0, 0, 0.15);
}
.services-2 h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.7);
}
.services-2 p{
  color: grey;
}

/* analysis */

.analysis {
  padding: 6em 0;
  position: relative;
}

.col-md-3 {
  position: relative;
  max-width: 25%;
  padding-right: 15px;
  padding-left: 15px;
}

.analysis1 {
  width: 100%;
  display: block;
  padding: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.person {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: none;
  transition: box-shadow 0.3s ease;
}

.person:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Increase shadow on hover */
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.heading-section .subheading {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0;
  color: #3e3232;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}

.heading-section h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.7);
}

.heading-section p {
  font-weight: 400;
  color: grey;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #7091e6;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.wrap-about .play-video .icon {
  width: 40px;
  height: 30px;
  border: 1px solid #7091e6;
  border-radius: 5px;
  margin-right: 10px;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.wrap-about .play-video .icon span {
  color: #7091e6;
}

.fa-play::before {
  content: "\f04b";
}

.wrap-about .play-video span.watch {
  color: #141619;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.8;
  font-weight: 400;
}
.btn-dark py-2 px-4 {
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  display: inline-block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.box {
  width: 350px;
  height: 450px;
  box-shadow: 7px 7px 7px 7px rgb(80, 60, 60);
  align-items: center;

  padding: 10px 10px 10px 10px;
  padding-left: 15px;
}
.boxdesign {
  width: 350px;
  height: 360px;
  box-shadow: 10px 10px 10px 10px rgba(62, 50, 50);
  align-items: center;
  background: linear-gradient(135deg, #ffff, #503c3c);
  padding: 10px 10px 10px 10px;
  padding-left: 15px;
}

.col-md-8, .col-xl-3, .col-md-7, .col-md-12{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.services-area .single-service-cap {
  overflow: hidden;
}

.services-area .single-service-cap .service-img {
  overflow: hidden;
}
.services-area .single-service-cap:hover .service-img img {
  transform: scale(1.1);
}
.services-area .single-service-cap .service-img img {
  width: 100%;
  transform: scale(1);
  -webkit-transition: all .5s ease-out 0s;
  -moz-transition: all .5s ease-out 0s;
  -ms-transition: all .5s ease-out 0s;
  -o-transition: all .5s ease-out 0s;
  transition: all .5s ease-out 0s;
}
.services-area .single-service-cap .service-cap {
  padding: 20px 30px 20px 30px;
  background: #fcfdff;
}

.services-area .single-service-cap .service-cap h4 {
  margin-bottom: 35px;
}

.services-area .single-service-cap .service-cap h4 a {
  color: #0e132a;
  font-size: 24px;
  font-weight: 600;
  transition: all .3s ease-out 0s;
  outline: medium none;
}
.services-area .single-service-cap .service-cap h4 a:hover {
  color: #a87c7c;
}
.more-btn {
  color: #161e46;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}
.more-btn:hover {
  color: #7e6363;
}
.single-service-cap:hover .more-btn i {
  color: #fff;
  background: #7e6363;
}
.more-btn i {
  color: #161e46;
  background: transparent;
  width: 38px;
  height: 38px;
  display: inline-block;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  margin-left: 10px;
  -webkit-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  -ms-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

/* testimony */
.testimony-section {
  position: relative;
  z-index: 0;
  padding: 3em 0;
  margin-bottom: 30px;
  margin-top: 100px;
}
.testimony-section .img-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: '';
  height: 400px;
}
.border {
  border: 1px solid #dee2e6 !important;
}
.testimony-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: '';
  height: 400px;
  background: #a87c7c;
  opacity: .8;
}
.heading-section.heading-section-white .subheading {
  color: rgba(255, 255, 255, 0.9);
}
.heading-section.heading-section-white h2 {
  font-size: 40px;
  color: #fff;
}

@media (min-width: 768px) {
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.carousel-testimony{
  position: relative;
}
.swiper {
  width: 80%;
  height: 80%;
  margin-top: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 17px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper{
  padding-top: 1.5rem;
}

.swiper-slide img {
  max-width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: .5rem solid whitesmoke;
}

.testimony-wrap {
  display: block;
  position: relative;
  background: white;
  padding: 0 20px;
    padding-top: 0px;
    padding-bottom: 0px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.4);
}
.testimony-wrap .icon {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #503c3c;
}
.testimony-wrap .icon span {
  color: #fff;
}
.testimony-wrap .user-img {
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.user-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.testimony-wrap .name {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
  color: #000000;
  text-align: left;
}
.testimony-wrap .position {
  font-size: 16px;
  color: #4d4d4d;
}

/* .text p::before{
  content: "\f10d";
  position: absolute;
  top: 0;
  left: 1rem;
  font-size: 1.5rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #503c3c;
}
.text p::after{
  content: "\f10e";
  position: absolute;
  bottom: 0;
  right: 1rem;
  font-size: 1.5rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #503c3c;
} */
.client-details{
  margin-left: 10px;
}

